@import "components/navbar.css";
@import "components/landing.css";
@import "components/about.css";
@import "components/examples.css";
@import "components/art.css";
@import "components/info.css";

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  transition: all 1s;
}

.pink-mode {
  /*transition: all 1s;*/
  background: #FFE1E1;
}
