#art {
  width: 100%;
}

.art-heading h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3.5em;
  color: #AF8989;
  margin: 0 0 0 5vh;
  padding-top: 10vh;
}

#art img {
  filter: grayscale(1);
  transition: all 1s;
}

#art img:hover {
  filter: grayscale(0);
}

.art-top {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

#money {
  position: absolute;
  right: 0;
  max-width: 40%;
  min-width: 310px;
  overflow: hidden;
}

#pink-wu {
  max-width: 35%;
  min-width: 270px;
  margin: 6% 10% 8% 10%
}

.art-bottom {
  display: flex;
  flex-wrap: wrap;
}

.art-bottom-left {
  max-width: 55%;
  flex-direction: column;
  margin-top: 20vh;
}

#hands {
  width: 100%;
  min-width: 260px;
}

#bubble {
  width: 50%;
  min-width: 210px;
  margin: 15% 0 0 30%;
}

.art-bottom-right {
  width: 45%;
}

#rps {
  margin: 40% 10% 0 30%;
  max-width: 60%;
}

@media(max-width: 770px) {
  #money {
    position: relative;
    margin: 32px auto;
    width: 310px;
    height: 422.89px;
  }

  #pink-wu {
    margin: 32px auto;
    width: 270px;
    height: 332.25px;
  }

  .art-bottom-left {
    margin-top: 3vh;
  }

  #rps {
    min-width: 191px;
  }
}

@media(max-width: 415px) {
  #money {
    margin: 32px auto;
  }

  #pink-wu {
    margin: 32px auto;
  }

  .art-bottom-left {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  #hands {
    margin: 32px auto;
  }

  #bubble {
    margin: 32px auto;
  }

  .art-bottom-right {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  #rps {
    margin: 32px auto;
  }
}

@media (hover: none) {
  #art img {
    filter: grayscale(0);
  }
}
