#art {
  width: 100%;
  /*height: 100vh;*/
}

.art-heading {
  /*margin: 30vh 0 0 5vh;
  padding-top: 30vh 0 0 5vh;*/
}

.art-heading h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3.5em;
  color: #AF8989;
  margin: 0 0 0 5vh;
  padding-top: 10vh;
}

#art img {
  filter: grayscale(1);
  transition: all 1s;
}

#art img:hover {
  filter: grayscale(0);
}

.art-top {
  /*display: flex;*/
  /*position: relative;*/
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /*z-index: 9;*/
  overflow: hidden;
  /*line-height: 0;*/
}

#money {
  /*position: sticky;*/
  position: absolute;
  /*display: block;*/
  right: 0;
  max-width: 40%;
  min-width: 310px;
  margin-left: 15%;
  overflow: hidden;
}

#pink-wu {
  max-width: 35%;
  min-width: 270px;
  margin: 6% 10% 8% 10%
  /*margin-right: 20% ;*/
}

.art-bottom {
  display: flex;
  flex-wrap: wrap;
}

.art-bottom-left {
  max-width: 55%;
  flex-direction: column;
  margin-top: 20vh;
}

#hands {
  width: 100%;
  min-width: 260px;
  /*margin: 6% 10% 8% 10%*/
  /*margin-right: 20% ;*/
}

#bubble {
  width: 50%;
  min-width: 210px;
  min-width: ;
  margin: 15% 0 0 30%;
  /*margin-right: 20% ;*/
}
.art-bottom-right {
  margin: 30% 10% 0 10%;
}

#rps {
  max-width: 406px;
}

@media(max-width: 1700px) {
  #rps {
    max-width: 256px;
  }
}

@media(max-width: 770px) {
  #money {
    position: relative;
    margin: auto;
  }
  #pink-wu {
    /*position: relative;*/
    margin: auto;
  }
  .art-bottom-left {
    /*max-width: 100%;*/
    margin-top: 3vh;
  }
  #rps {
    width: 191px;
  }
}

@media(max-width: 415px) {
  #money {
    margin: 32px auto;
  }
  #pink-wu {
    /*position: relative;*/
    margin: 32px auto;
  }
  .art-bottom-left {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  #hands {
    margin: 32px auto;
  }
  #bubble {
    /*position: relative;*/
    margin: 32px auto;
  }
  /*#rps {
    margin: 32px auto;
  }*/
  .art-bottom-right {
    /*max-width: 100%;*/
    margin: 32px auto;
  }
}

@media (hover: none) {
  #art img {
    filter: grayscale(0);
  }
}



