#landing {
  /*width: 100vh;*/
  height: 100vh;
  margin-top: -62px;
}

.landing-heading {
  padding: 25vh 0 0 15vh;
}

.landing-heading h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 3.5em;
  color: #3F3E3E;
}

.green-heading {
  color: #7DA77C;
}

.pink-heading {
  color: #FFE1E1;
}

#landing p {
  padding: 120px 0 0 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #757070;
  line-height: .8;
}

.fine-print {
  font-size: 1rem;
}

