.navbar-sponsor {
  justify-content: space-between;
  background: #FFE1E1;
  width: 100vw;
  padding: 0 32px ;
}

.fixed-nav {
  position: fixed;
  z-index: 300;
  top: 0;
}

.navbar-sponsor .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}
.navbar-sponsor .navbar-brand img {
  width: 55px;
  margin: 8px;
}

.navbar-links a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #AF8989;
  padding: 0 16px 0 16px;
  transition: .3s;
}

.navbar-links a:hover {
  color: #FFE1E1;
  background: #AF8989;
}

@media(max-width: 415px) {
  .navbar-sponsor {
    padding: 0;
  }

  .navbar-links a {
    padding: 0 10px 0 0;
  }
}

@media (hover: none) {
  .navbar-links a:hover {
    color: #AF8989;
    background: transparent;
  }
}
